@import "tailwindcss";

@font-face {
  font-family: 'Hanken Grotesk';
  src: url('./fonts/HankenGrotesk-Black.woff2') format('woff2'),
      url('./fonts/HankenGrotesk-Black.woff') format('woff'),
      url('./fonts/HankenGrotesk-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hanken Grotesk';
  src: url('./fonts/HankenGrotesk-Light.woff2') format('woff2'),
      url('./fonts/HankenGrotesk-Light.woff') format('woff'),
      url('./fonts/HankenGrotesk-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hanken Grotesk';
  src: url('./fonts/HankenGrotesk-Medium.woff2') format('woff2'),
      url('./fonts/HankenGrotesk-Medium.woff') format('woff'),
      url('./fonts/HankenGrotesk-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hanken Grotesk';
  src: url('./fonts/HankenGrotesk-Bold.woff2') format('woff2'),
      url('./fonts/HankenGrotesk-Bold.woff') format('woff'),
      url('./fonts/HankenGrotesk-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hanken Grotesk';
  src: url('./fonts/HankenGrotesk-ExtraBold.woff2') format('woff2'),
      url('./fonts/HankenGrotesk-ExtraBold.woff') format('woff'),
      url('./fonts/HankenGrotesk-ExtraBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hanken Grotesk';
  src: url('./fonts/HankenGrotesk-Thin.woff2') format('woff2'),
      url('./fonts/HankenGrotesk-Thin.woff') format('woff'),
      url('./fonts/HankenGrotesk-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hanken Grotesk';
  src: url('./fonts/HankenGrotesk-Regular.woff2') format('woff2'),
      url('./fonts/HankenGrotesk-Regular.woff') format('woff'),
      url('./fonts/HankenGrotesk-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hanken Grotesk';
  src: url('./fonts/HankenGrotesk-SemiBold.woff2') format('woff2'),
      url('./fonts/HankenGrotesk-SemiBold.woff') format('woff'),
      url('./fonts/HankenGrotesk-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}



@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #F4F1EB;
  --foreground: #010101;
  font-size: 20px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F4F1EB;
    --foreground: #010101;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Hanken Grotesk', sans-serif;
}
